# **Tarea joins**

Completa los joins usando pd.concat

Para replicar el left join, podemos utilizar pd.concat() con los parámetros join='left' y axis=1. Esto concatenará los DataFrames en función de sus columnas comunes y agregará las filas del DataFrame de la izquierda que no tengan correspondencia en el DataFrame de la derecha.

In [4]:
import pandas as pd

In [5]:
# Crear tres DataFrames con datos similares a tablas de SQL
df1 = pd.DataFrame({
    'key1': ['A', 'B', 'C', 'D'],
    'value1': [1, 2, 3, 4]
})

df2 = pd.DataFrame({
    'key2': ['B', 'D', 'E', 'F'],
    'value2': [5, 6, 7, 8]
})

df3 = pd.DataFrame({
    'key3': ['C', 'D', 'F', 'G'],
    'value3': [9, 10, 11, 12]
})

# Mostrar los tres DataFrames
print('df1:')
print(df1)
print('df2:')
print(df2)
print('df3:')
print(df3)

df1:
  key1  value1
0    A       1
1    B       2
2    C       3
3    D       4
df2:
  key2  value2
0    B       5
1    D       6
2    E       7
3    F       8
df3:
  key3  value3
0    C       9
1    D      10
2    F      11
3    G      12

# **Ejemplo del profe**
Para replicar el inner join, podemos utilizar pd.concat() con los parámetros join='inner' y axis=1. Esto concatenará los DataFrames en función de sus columnas comunes.

In [6]:
# Realizar un inner join con tres DataFrames utilizando pd.concat()
inner_join = pd.concat([df1.set_index('key1'), df2.set_index('key2'), df3.set_index('key3')],
                       join='inner', axis=1).reset_index()

# Mostrar el resultado del inner join
print('Inner Join:')
print(inner_join)

Inner Join:
  index  value1  value2  value3
0     D       4       6      10

## **Outter join**

In [9]:
outer_join = pd.concat([df1.set_index('key1'), df2.set_index('key2'), df3.set_index('key3')], axis=1, join='outer')
outer_join

   value1  value2  value3
A     1.0     NaN     NaN
B     2.0     5.0     NaN
C     3.0     NaN     9.0
D     4.0     6.0    10.0
E     NaN     7.0     NaN
F     NaN     8.0    11.0
G     NaN     NaN    12.0

# **Right join**

In [12]:
right_join = pd.concat([df1.set_index('key1'), df2.set_index('key2'), df3.set_index('key3')], axis=1, join='outer').dropna(subset='value3')
right_join

   value1  value2  value3
C     3.0     NaN     9.0
D     4.0     6.0    10.0
F     NaN     8.0    11.0
G     NaN     NaN    12.0

# **Left Join**

In [13]:
left_join = pd.concat([df1.set_index('key1'), df2.set_index('key2'), df3.set_index('key3')], axis=1, join='outer').dropna(subset='value1')
left_join

   value1  value2  value3
A     1.0     NaN     NaN
B     2.0     5.0     NaN
C     3.0     NaN     9.0
D     4.0     6.0    10.0